@import './define/_constant.scss';
.jpn-form {
    max-width: 400px;
    margin: auto;
    .form-item {
        padding: 5px 10px;
        .form-label {
            width: 100%;
        }
        .form-input {
            width: 100%;
            input {
                width: 100%;
            }
        }
        .form-error {
            color: $COLOR-RED;
            font-style: italic;
            font-size: 85%;
        }
        width: 100%;
        text-align: left;
    }
    .form-item.error {
        color: $COLOR-RED;
        text-align: center;
    }
    .form-item.success {
        color: $COLOR-GREEN;
        text-align: center;
    }
    .form-item.submit {
        text-align: center;
    }
}