@import "./define/_constant.scss";
@import "./define/_mixin.scss";
.jpn-left-bar {
    a.link {
        color: white;
        text-decoration: none; //display: inline-block;
        padding-right: 10px;
        cursor: pointer;
    }
    a.link:hover {
        text-decoration: underline !important;
    }
    a.link.active {
        color: blue;
        background: white;
        padding: 0 5px;
        border-radius: 8px;
    }
    .lb-header {
        color: white;
        text-transform: uppercase;
        padding: 4px;
        padding-left: 5px;
        font-weight: bold;
        border-bottom: rgba(255, 255, 255, 0.5) solid 1px;
    }
    text-align: left;
    overflow-x: scroll;
    overflow-y: scroll;
    max-height: 100vh;
    resize: horizontal;
    ul.navi-list {
        color: white;
        list-style: none;
        padding: 0;
        margin: 0;
        padding-left: 14px;
        font-size: 14px;
    }
    ul.navi-list:last-of-type {
        padding-bottom: 10px;
    }
    .li-item {
        padding-top: 3px;
        @include flex; //white-space: nowrap;
    }
    .expand,
    .lb-header a {
        cursor: pointer;
    }
    .expand:hover,
    .lb-header a:hover {
        opacity: 0.8;
    }
    /* ############################ */
    /* 1st level parent only */
    ul.parent {
        padding: 5px;
        padding-left: 0px;
        margin-left: 12px;
        border-bottom: rgba(255, 255, 255, 0.5) solid 1px;
    }
    ul.parent:last-of-type {
        border-bottom: none;
    }
    ul.navi-list.parent {
        font-weight: bold;
    }
    ul.navi-list {
        font-weight: normal;
    }
}